<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.business.stud.mapper.StudWorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.business.stud.entity.StudWork">
        <id column="id" property="id" />
        <result column="com_name" property="comName" />
        <result column="com_address" property="comAddress" />
        <result column="work_content" property="workContent" />
        <result column="in_date" property="inDate" />
        <result column="out_date" property="outDate" />
        <result column="link_man" property="linkMan" />
        <result column="com_city" property="comCity" />
        <result column="work_xz" property="workXz" />
        <result column="work_sshy" property="workSshy" />
        <result column="remarks" property="remarks" />
        <result column="operator" property="operator" />
        <result column="operatedate" property="operatedate" />
        <result column="stud_id" property="studId" />
        <result column="stud_name" property="studName" />
    </resultMap>



    <select id="selectBy" parameterType="StudWorkVo" resultType="StudWork">
        select
            id, com_name AS comName, com_address AS comAddress, work_content AS workContent, in_date AS inDate, out_date AS outDate, link_man AS linkMan, com_city AS comCity, work_xz AS workXz, work_sshy AS workSshy, remarks, operator, operatedate, stud_id AS studId, stud_name AS studName
        from stud_work
        <where>
            <if test="id != null and id != ''">
                and id =  #{id}
            </if>
            <if test="comName != null and comName != ''">
                and com_name =  #{comName}
            </if>
            <if test="comAddress != null and comAddress != ''">
                and com_address =  #{comAddress}
            </if>
            <if test="workContent != null and workContent != ''">
                and work_content =  #{workContent}
            </if>
            <if test="inDate != null and inDate != ''">
                and in_date =  #{inDate}
            </if>
            <if test="outDate != null and outDate != ''">
                and out_date =  #{outDate}
            </if>
            <if test="linkMan != null and linkMan != ''">
                and link_man =  #{linkMan}
            </if>
            <if test="comCity != null and comCity != ''">
                and com_city =  #{comCity}
            </if>
            <if test="workXz != null and workXz != ''">
                and work_xz =  #{workXz}
            </if>
            <if test="workSshy != null and workSshy != ''">
                and work_sshy =  #{workSshy}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks =  #{remarks}
            </if>
            <if test="operator != null and operator != ''">
                and operator =  #{operator}
            </if>
            <if test="operatedate != null and operatedate != ''">
                and operatedate =  #{operatedate}
            </if>
            <if test="studId != null and studId != ''">
                and stud_id =  #{studId}
            </if>
            <if test="studName != null and studName != ''">
                and stud_name =  #{studName}
            </if>
        </where>
    </select>

</mapper>
